@use "@/styles/_variables" as *;

.header {
  margin-bottom: $spacing-lg;
  color: $color-white;
  padding: $spacing-sm;
}

.board {
  display: flex;
  align-items: flex-start;
}

.addListWrapper {
  width: 16rem;
  background-color: rgba(0,0,0,0.12);
  color: $color-white;
  cursor: pointer;
  text-align: left;
  border-radius: $border-radius-sm;
  margin-left: $spacing-sm;
  padding: 0.6rem;
  
  &:hover {
    background-color: rgba(0,0,0,0.2);
  }
}

.addListBtn {
  background-color: transparent;
  color:  $color-white;
  border: none;
  cursor: pointer;
}